.CartItem {
    margin-top: 3em;
    display: flex;
    justify-content: space-between;
}

.CartItem div {
    width: 25%;
}

.CartItem button {
    width: 30px;
    height: 30px;
    background-color: #e1e8ee;
    border-radius: 6px;
    margin: 0 3px;
    border: none;
}

.CartItem button:disabled {
    background-color: #f8f9fb;
}